/* My css style sheet */
h4{
    font-weight: bold;
}
.jumbotron {
    color: yellow;
    background-image: url("../images/cow.jpeg");
    background-size: 100% 100%;
    text-align: center;
    

  }